@model BoxService4.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionTwo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
